
{%- macro description_long() -%}
    {%- if weather.data.today.day.sky == "clear_sky" -%}
        {%- set sentences =
        [
            "风轻云净的日子，",
            "阳光明媚 ，",
            "万里晴云，",
            "万里天云，",
            "太阳公公躲在云彩后面了，",
        ]-%}
    {%- elif weather.data.today.day.sky == "scattered_clouds" -%}
        {%- set sentences =
        [
            "天空阴沉沉的，",
            "灰朦朦的天，",
            "天气略阴，",
        ]-%}
    {%- elif weather.data.today.day.sky == "light_rain" -%}
        {%- set sentences =
        [
            "细雨绵绵，",
            "蒙蒙细雨，",
        ]-%}
    {%- elif weather.data.today.day.sky == "snow" -%}
        {%- set sentences =
        [
            "白雪皑皑，"
        ]-%}
    {%- else -%}
        {%- set sentences = [] -%}
    {%- endif -%}
{{ sentences | random }}
{%- endmacro -%}

{%- macro description(sky) -%}
    {%- if (sky is defined) and (sky != None) -%}
            {{ sky}}
        {%- endif -%}    
{%- endmacro -%}

{%- macro description_short(sky) -%}
    {%- if (sky is defined) and (sky != None) -%}
            {{ sky}}
        {%- endif -%}    
{%- endmacro -%}

{%- macro insight(insight) -%}
    {%- set result = [""] -%}

    {%- if (insight.status == "break") and (insight.duration >= 3) -%}

        {%- if ("rain" in insight.value) or ("snow" in insight.value) -%}

            {#----- 持续超过3天的雨雪天气 -----#}
            {%- if "rain" in insight.value -%}
                {%- set sky_ch = "雨" -%}
            {%- elif "snow" in insight.value -%}
                {%- set sky_ch = "雪" -%}
            {%- else -%}
                {%- set sky_ch = "雨雪" -%}
            {%- endif -%}

            {%- set result =
            [
                "持续了%d天的%s天终于结束了，感动哭！" % (insight.duration, sky_ch),
                "%s神终于结束了为时%d天的演出，" % (sky_ch, insight.duration),
                "终于晴天啦！这%d天都要长毛了，" % insight.duration,
            ] -%}

        {%- elif insight.value == "clear_sky" -%}

            {%- set result =
            [
                "和过去%d天的阳光说再见:( " % insight.duration
            ] -%}
        {%- endif -%}

    {%- endif -%}

{{ result | random }}
{%- endmacro -%}
