
{%- macro description_long() -%}
    {%- if weather.data.today.day.sky == "clear_sky" -%}
        {%- set sentences =
        [
            "风轻云净的日子，",
            "阳光明媚 ，",
            "万里晴云，",
            "万里天云，",
            "太阳公公躲在云彩后面了，",
        ]-%}
    {%- elif weather.data.today.day.sky == "scattered_clouds" -%}
        {%- set sentences =
        [
            "天空阴沉沉的，",
            "灰朦朦的天，",
            "天气略阴，",
        ]-%}
    {%- elif weather.data.today.day.sky == "light_rain" -%}
        {%- set sentences =
        [
            "细雨绵绵，",
            "蒙蒙细雨，",
        ]-%}
    {%- elif weather.data.today.day.sky == "snow" -%}
        {%- set sentences =
        [
            "白雪皑皑，"
        ]-%}
    {%- else -%}
        {%- set sentences = [] -%}
    {%- endif -%}
{{ sentences | random }}
{%- endmacro -%}


{%- macro description_short(sky) -%}
    {%- if sky == "clear_sky" -%}
        {%- set sentences =
        [
            "晴",
        ]-%}
    {%- elif sky == "few_clouds" -%}
        {%- set sentences =
        [
            "晴间多云",
        ]-%}
    {%- elif sky == "scattered_clouds" -%}
        {%- set sentences =
        [
            "多云",
        ]-%}
    {%- elif sky == "broken_clouds" -%}
        {%- set sentences =
        [
            "阴",
        ]-%}
    {%- elif sky == "rain" -%}
        {%- set sentences =
        [
            "雨",
        ]-%}
    {%- elif sky == "light_rain" -%}
        {%- set sentences =
        [
            "小雨",
        ]-%}
    {%- elif sky == "moderate_rain" -%}
        {%- set sentences =
        [
            "中雨",
        ]-%}
    {%- elif sky == "heavy_rain" -%}
        {%- set sentences =
        [
            "大雨",
        ]-%}
    {%- elif sky == "snow" -%}
        {%- set sentences =
        [
            "雪",
        ]-%}
    {%- elif sky == "light_snow" -%}
        {%- set sentences =
        [
            "小雪",
        ]-%}
    {%- elif sky == "moderate_snow" -%}
        {%- set sentences =
        [
            "中雪",
        ]-%}
    {%- elif sky == "heavy_snow" -%}
        {%- set sentences =
        [
            "大雪",
        ]-%}
    {%- elif sky == "sleet" -%}
        {%- set sentences =
        [
            "雨夹雪",
        ]-%}
    {%- elif sky == "fog" -%}
        {%- set sentences =
        [
            "雾",
        ]-%}
    {%- elif sky == "smog" -%}
        {%- set sentences =
        [
            "霾",
        ]-%}
        {%- elif sky == "shower_rain" -%}
        {%- set sentences =
        [
            "阵雨",
            "雷阵雨",
        ] -%}
    {%- elif sky == "storm" -%}
        {%- set sentences =
        [
            "暴雨",
            "大到暴雨",
            "大暴雨",
        ] -%}
    {%- elif sky == "heavy_storm" -%}
        {%- set sentences =
        [
            "特大暴雨",
            "超大暴雨",
        ] -%}
    {%- elif sky == "freezing_rain" -%}
        {%- set sentences =
        [
            "冻雨",
        ] -%}
    {%- elif sky == "shower_snow" -%}
        {%- set sentences =
        [
            "阵雪",
        ] -%}
    {%- elif sky == "dust" -%}
        {%- set sentences =
        [
            "浮尘",
            "扬沙",
        ] -%}
    {%- elif sky == "dust_storm" -%}
        {%- set sentences =
        [
            "沙尘暴",
            "强沙尘暴",
        ] -%}
    {%- elif sky == "fog" -%}
        {%- set sentences =
        [
            "雾",
        ] -%}
    {%- elif sky == "smog" -%}
        {%- set sentences =
        [
            "霾",
        ] -%}
    {%- elif sky == "heavy_smog" -%}
        {%- set sentences =
        [
            "中-重度霾",
        ] -%}
    {%- else -%}
        {%- set sentences = [""]-%}
    {%-  endif -%}
{{ sentences|random }}
{%- endmacro -%}


{%- macro description(sky) -%}
    {%- if sky == "clear_sky" -%}
        {%- set sentences =
        [
            "晴",
            "天气好晴朗",
            "是晴天",
            "天气安好！是晴天",
        ]-%}
    {%- elif (sky == "scattered_clouds") or (sky == "broken_clouds") or (sky == "fews_clouds") -%}
        {%- set sentences =
        [
            "多云",
            "阴",
            "多云模式开启",
            "轮到云姑娘当班",
        ]-%}
    {%- elif sky == "rain" -%}
        {%- set sentences =
        [
            "小雨",
            "大雨",
            "雷阵雨",
        ]-%}
    {%- elif sky == "light_rain" -%}
        {%- set sentences =
        [
            "小雨",
            "小雨驾到",
            "小雨光顾",
        ]-%}
    {%- elif sky == "moderate_rain" -%}
        {%- set sentences =
        [
            "中雨",
            "中雨驾到",
            "中雨光顾",
        ]-%}
    {%- elif sky == "heavy_rain" -%}
        {%- set sentences =
        [
            "大雨",
            "大雨驾到",
            "大雨来袭",
        ]-%}
    {%- elif sky == "snow" -%}
        {%- set sentences =
        [
            "雨夹雪",
            "小雪",
            "中雪",
            "暴雪",
        ]-%}
    {%- elif sky == "light_snow" -%}
        {%- set sentences =
        [
            "小雪",
            "小雪驾到",
            "小雪光顾",
        ]-%}
    {%- elif sky == "moderate_snow" -%}
        {%- set sentences =
        [
            "中雪",
            "中雪驾到",
            "中雪光顾",
        ]-%}
    {%- elif sky == "heavy_snow" -%}
        {%- set sentences =
        [
            "大雪",
            "大雪驾到",
            "大雪来袭",
        ]-%}
    {%- elif sky == "sleet" -%}
        {%- set sentences =
        [
            "雨夹雪",
        ]-%}
    {%- elif sky == "shower_rain" -%}
        {%- set sentences =
        [
            "阵雨",
            "雷阵雨",
        ] -%}
    {%- elif sky == "storm" -%}
        {%- set sentences =
        [
            "暴雨",
            "大到暴雨",
            "大暴雨",
        ] -%}
    {%- elif sky == "heavy_storm" -%}
        {%- set sentences =
        [
            "特大暴雨",
            "超大暴雨",
        ] -%}
    {%- elif sky == "freezing_rain" -%}
        {%- set sentences =
        [
            "冻雨",
        ] -%}
    {%- elif sky == "shower_snow" -%}
        {%- set sentences =
        [
            "阵雪",
        ] -%}
    {%- elif sky == "dust" -%}
        {%- set sentences =
        [
            "浮尘",
            "扬沙",
        ] -%}
    {%- elif sky == "dust_storm" -%}
        {%- set sentences =
        [
            "沙尘暴",
            "强沙尘暴",
        ] -%}
    {%- elif sky == "fog" -%}
        {%- set sentences =
        [
            "雾",
        ] -%}
    {%- elif sky == "smog" -%}
        {%- set sentences =
        [
            "霾",
        ] -%}
    {%- elif sky == "heavy_smog" -%}
        {%- set sentences =
        [
            "中-重度霾",
        ] -%}
    {%- else -%}
        {%- set sentences = [] -%}
    {%- endif -%}
{{ sentences | random }}
{%- endmacro -%}


{%- macro insight(insight) -%}
    {%- set result = [""] -%}

    {%- if (insight.status == "break") and (insight.duration >= 3) -%}

        {%- if ("rain" in insight.value) or ("snow" in insight.value) -%}

            {#----- 持续超过3天的雨雪天气 -----#}
            {%- if "rain" in insight.value -%}
                {%- set sky_ch = "雨" -%}
            {%- elif "snow" in insight.value -%}
                {%- set sky_ch = "雪" -%}
            {%- else -%}
                {%- set sky_ch = "雨雪" -%}
            {%- endif -%}

            {%- set result =
            [
                "持续了%d天的%s天终于结束了，感动哭！" % (insight.duration, sky_ch),
                "%s神终于结束了为时%d天的演出，" % (sky_ch, insight.duration),
                "终于晴天啦！这%d天都要长毛了，" % insight.duration,
            ] -%}

        {%- elif insight.value == "clear_sky" -%}

            {%- set result =
            [
                "和过去%d天的阳光说再见:( " % insight.duration
            ] -%}
        {%- endif -%}

    {%- endif -%}

{{ result | random }}
{%- endmacro -%}
